ul{
    background-color: lightblue;
}
.spaces20{
    color: green;
    margin: 20px;
}

thead{
    background-color: grey;
}

table, th, td {
    border: 1px solid black;
  }
.table tr:nth-child(odd){
     background:green;
}

.TFtable tr{
    background: #b8d1f3;
}
.TFtable tr:nth-child(odd){ 
    background: #b8d1f3;
}
.TFtable tr:nth-child(even){
    background: #dae5f4;
}
